@import 'variables';

html, body {
  width: 100%;
}

.search-results {
  margin-top: 0px;
  padding-top: 0px;
}

.nav {
  margin-top: 0.5em;
}

.section {
  padding-bottom: 1em;
}

.footer {
  background-color: $primary-invert;
  padding-top: 0;
  padding-bottom: 2.2em;
  font-size: 0.85em;
}
