$accent-color: #750E3C;

$display-family: 'Montserrat', sans-serif;
$body-family: 'Open Sans', sans-serif;

$logo-size: 1.4em;

$primary-family: $display-family;
$family-sans-serif: $body-family;

$primary: black;
$primary-invert: white;
